[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

aiosmtpd = "*"
codernitydb = "*"
tinydb = "*"
tinydb-serialization = "*"
arrow = "*"
sanic = "*"
begins = "*"
uvloop = "*"
ujson = "*"
aiodns = "*"
sanic-auth = "*"
python-magic = "*"
dkimpy = "*"


[dev-packages]

pylint = "*"
ipdb = "*"
pytest = "*"
tox = "*"
tox-pipenv = "*"
icecream = "*"
aiohttp = "*"
faker = "*"
pipenv = "*"
rope = "*"
